---
import HomePage from "../layouts/HomePage.astro";
import { normalizePosts, getBaseUrl } from "../common/utils";
import { getCollection } from "astro:content";
const posts = await getCollection("notes");

console.debug(posts);

const baseUrl = getBaseUrl();

// const posts = await Astro.glob("../content/*.md");
const formatPosts = normalizePosts(posts);
---

<HomePage title="文章归档">
  <main class="main-content">
    <article>
      <!-- <h1>Archive</h1> -->
      <ul class="post-list">
        {
          formatPosts.map((post) => (
            <li class="post-item">
              <a href={`${baseUrl}/posts/${post.slug}`} class="post-title">
                {post.data.title}
              </a>
              {post.data.date && <date class="date">{post.data.date}</date>}
            </li>
          ))
        }
      </ul>
    </article>
  </main>
</HomePage>

<style>
  main.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 900px;
    flex: 1;
    padding: 0 40px;
    margin: 0 auto;
  }

  article {
    width: 100%;
    padding: 2rem 0;

    h1 {
      font-size: 24px;
      margin-bottom: 3rem;
    }

    .post-list {
      list-style-type: none;
      padding: 0;
    }

    .post-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
    }

    .post-title {
      font-size: 18px;
      margin-bottom: 10px;
      color: var(--color-accent);
    }

    .date {
      font-size: 14px;
      font-style: italic;
      color: var(--color-text-secondary);
    }
  }
</style>
