---

---

<button
  id="themeToggle"
  class="p-2 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 transition-all duration-300 ease-in-out hover:scale-105"
  aria-label="切换主题"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="hidden"
    id="themeToggleLightIcon"
  >
    <circle cx="12" cy="12" r="5"></circle>
    <line x1="12" y1="1" x2="12" y2="3"></line>
    <line x1="12" y1="21" x2="12" y2="23"></line>
    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
    <line x1="1" y1="12" x2="3" y2="12"></line>
    <line x1="21" y1="12" x2="23" y2="12"></line>
    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="hidden"
    id="themeToggleDarkIcon"
  >
    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
  </svg>
</button>

<style>
  #themeToggle {
    background: none;
    border: none;
    cursor: pointer;
  }

  #themeToggle svg {
    @apply transition-transform duration-300 ease-in-out;
  }

  #themeToggle:hover svg {
    @apply rotate-12;
  }
</style>

<script>
  import {
    getLocalStorageTheme,
    setLocalStorageTheme,
    setHtmlDataTheme,
  } from "../common/theme";

  function updateTheme(theme: "light" | "dark") {
    toggleThemeIcon(theme);
    setHtmlDataTheme(theme);
    setLocalStorageTheme(theme);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const currentTheme = getLocalStorageTheme();
    updateTheme(currentTheme);

    document
      .getElementById("themeToggle")
      ?.addEventListener("click", handleToggleClick);
  });

  function handleToggleClick() {
    const currentTheme = getLocalStorageTheme();
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    updateTheme(newTheme);
  }

  function toggleThemeIcon(theme: "light" | "dark") {
    const lightIcon = document.getElementById("themeToggleLightIcon");
    const darkIcon = document.getElementById("themeToggleDarkIcon");
    if (theme === "dark") {
      lightIcon?.classList.remove("hidden");
      darkIcon?.classList.add("hidden");
    } else {
      lightIcon?.classList.add("hidden");
      darkIcon?.classList.remove("hidden");
    }
  }
</script>
