@import "./root.css";
@import "./reset.css";



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-background);
    color: var(--color-text);
}

/* html[data-theme="light"] {
    background-color: var(--color-background);
    color: var(--color-text);
}

html[data-theme="dark"] {
    background-color: var(--color-background-reverse);
    color: var(--color-text-reverse);
}

*/
/* @font-face {
    font-family: CuteAlphabet;
    src: url("/assets/fonts/CuteAlphabet.woff2") format("woff2");
} */


@font-face {
    font-family: CuteAlphabet;
    src: url(/homepage/assets/font-split/CuteAlphabet.woff2);
}

@font-face {
    font-family: PuHuiTi;
    src: url(/homepage/assets/font-split/Alibaba-PuHuiTi-Regular.ttf);
}

@font-face {
    font-family: Handdrawn;
    src: url(/homepage/assets/font-split/Handdrawn.ttf);
}


html,
body {
    /* font-family: CuteAlphabet, PuHuiTi,
        "Segoe UI",
        Tahoma,
        Geneva,
        Verdana,
        sans-serif; */
    font-family: CuteAlphabet, PuHuiTi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}