---
import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";
import { getAssetPath } from "../common/utils";
const bgLight = getAssetPath("/assets/images/bg-light.svg");
const bgDark = getAssetPath("/assets/images/bg-dark.svg");

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div
    class="page-container"
    style={`--bg-light: url(${bgLight});--bg-dark: url(${bgDark});`}
  >
    <div class="nav-pc hidden">
      <Nav />
    </div>
    <div class="center-container">
      <div class="nav-mobile hidden">
        <Nav />
      </div>
      <slot />
    </div>
  </div>
</Layout>

<style>
  .page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  html[data-theme="light"] .page-container {
    background-image: var(--bg-light);
  }

  html[data-theme="dark"] .page-container {
    background-image: var(--bg-dark);
  }

  .center-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .nav-pc {
    display: block;
  }
  .nav-mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .nav-pc {
      display: none;
    }
    .nav-mobile {
      display: block;
    }
  }
</style>
