---
import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";
import { getAssetPath } from "../common/utils";
const bgLight = getAssetPath("/assets/images/bg-light.svg");
const bgDark = getAssetPath("/assets/images/bg-dark.svg");


interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="page-container" style={`--bg-light: url(${bgLight});--bg-dark: url(${bgDark});`}>
    <Nav />
    <div class="center-container">
      <slot />
    </div>
  </div>
</Layout>

<style>

  .page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  html[data-theme="light"] .page-container {
    background-image: var(--bg-light);
  }

  html[data-theme="dark"] .page-container {
    background-image: var(--bg-dark);
  }

  .center-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
    flex: 1;
    overflow-y: auto;
  }
</style>
